.ant-tabs-nav-list {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(196, 196, 198, 1);
    background-color: rgba(235, 236, 237, 1);
}

.ant-tabs >.ant-tabs-nav {
    margin-bottom: 0;
}

.ant-tabs-content-holder {
    background-color: rgba(235, 236, 237, 1);
}
